body, html, main, .bgc {
    /* important */
    height: 100%;
}

.cd-fixed-bg {
  z-index: 1;
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
.cd-fixed-bg-0 {
  z-index: 1;
  position: relative;
  min-height: 50%;
  margin-left: 30px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
.cd-fixed-bg.cd-bg-0 {
  background-image: url("img/1.jpg");
}
.cd-fixed-bg.cd-bg-1 {
  background-image: url("img/9.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("img/19.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("img/8.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("img/17.jpg");
}

.cd-scrolling-bg {
  z-index: 1;
  min-height: 100%;
  margin-left: 30px;
}

.cd-fixed-bg h1 {
  position:absolute;
  top: 45%;
  left: 45%;
}

.bgc {
  background: rgba(255, 255, 255, 0.5);
}

.member-index {
  margin-left: 10%;
}

.member {
  display: inline-block;
  margin-left: 10%;
  margin-top: 5%;
}

.photo {
  width: 180px;
  height: 180px;
  border-radius: 30%;
}

.button {
  position: relative;
  display: inline-block;
  font-weight: bold;
  width: 70vw;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px rgba(60,179,113,1.0);
  border-right: solid 4px rgba(60,179,113,1.0);
  color: #ffffff;
  background: rgba(0,0,0,0.5);
  transition: .4s;
}

.button:hover {
  background: rgba(60,179,113,1.0);
  color: #FFF;
}

@media only screen and (max-device-width: 480px) {
  .cd-fixed-bg.cd-bg-0 h1 {
    display: none;
  }
  /*スマホ版はとりあえず背景固定しない*/
  .cd-fixed-bg-0 {
    background-attachment:scroll;
    background-size: cover;
  }
  .cd-fixed-bg {
    background-attachment:scroll;
    background-size: cover;
  }
}
